<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ SITEURL }}/theme/img/profile.png"/>
    </div>
  </div>

  <nav class="sidebar-nav">
  {% for title, href in MENUITEMS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  {% for title, href in LINKS %}
  <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ AUTHOR }} 2015
    </p>
  </div>
</div>
